@model IEnumerable<DMSOShopping.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Items</h1>

<link rel="stylesheet" href="~/css/item.css" />
<br />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="block span3">
                <div class="product">
                    <img src="~/Images/item.png">
                    <div class="buttons">
                        <a class="btn btn-primary preview" asp-action="Details" asp-route-id="@item.Id">View item</a>
                    </div>
                </div>

                <div class="info">
                    <h4>@item.Name_FL</h4>
                    <span class="description">
                        @item.Description
                    </span>
                    <span class="price">$@item.Price</span>

                    <form asp-action="AddToCart" asp-controller="Cart">
                        <input name="id" value="@item.Id" type="hidden" class="form-control" />
                        <input name="quantity" value="1" type="hidden" class="form-control" />
                        <input type="submit" value="Add To Cart" class="btn btn-primary" />
                    </form>
                </div>

                <div class="details">
                    <span class="time"><i class="icon-time"></i> @item.CreatedAt.ToString("dd-MMM-YY")</span>
                    <span class="pull-right">
                        @if (item.IsFreeShipping)
                        {<span>Free Shipped!</span>}
                    </span>
                </div>
            </div>
        }
    </div>
</div>
